.header__image {
    max-width: 100%;
    /* height: 615px; */
    -webkit-filter: grayscale(100%);
    -webkit-filter: grayscale(1);
    filter: grayscale(100%);
}


@media screen and (max-width: 320px) {
    .header__image {
        height: 200px;
    }
}