.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    max-width: 1184px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .gallery {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .gallery {
        max-width: 288px;
<<<<<<< HEAD
        margin-bottom: 62px;
=======
>>>>>>> 21e40dd65e5747b9e8ebf9b5844036a0f45b7734
    }
}