.place__author-name {
    max-width: 456px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
}

@media screen and (max-width: 1000px) {
    .place__author-name {
        max-width: 352px;   
    }
}

@media screen and (max-width: 740px) {
    .place__author-name {
        max-width: 288px;
    }
}
