.place__author-name {
    max-width: 456px;
    /*height: 22px;*/
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
}

@media screen and (max-width: 768px) {
    .place__author-name {
        max-width: 352px;
       /* height: 22px;*/
    }
}

@media screen and (max-width: 320px) {
    .place__author-name {
        max-width: 288px;
    }
}
