.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 984px;
    /* height: 983px;*/						
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
<<<<<<< HEAD
    .header {
=======
    .intro {
>>>>>>> 21e40dd65e5747b9e8ebf9b5844036a0f45b7734
        max-width: 320px;
    }
}