.place__link {
    width: 355px;
    text-decoration: none;
    color: #fff;
    background: #0278FE;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
}

<<<<<<< HEAD
@media screen and (max-width: 768px) {
=======
/*@media screen and (max-width: 768px) {
>>>>>>> 21e40dd65e5747b9e8ebf9b5844036a0f45b7734
    .place__link {
        width: 325px;
    }
}

<<<<<<< HEAD
@media screen and (max-width: 320px) {
    .place__link {
        width: 288px;
        height: 48px;
        font-size: 14px;
    }
}


=======
>>>>>>> 21e40dd65e5747b9e8ebf9b5844036a0f45b7734
