.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 260px auto;
    gap: 48px 40px;
    max-width: 984px;
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 720px; 
        gap: 46px 20px;
        grid-template-rows: 200px auto;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
    }
}
