body {
    margin: 0;
    padding: 0;
    margin: auto;

}
.page {
    background-color:
    #2A2C2F;
    max-width: 1280px;
    min-width: 769px;
    margin: auto;
    font-family: Inter;
}

.logo {
    width: 270px;
    height: 70px;
    padding: 34px;
}

.header {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 984px;
    height: 983px;
}

.header__title {
    border: 1px solid blue;
    color: #fff;
    font-weight: bold;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    max-width: 793px;
    height: 200px;
    margin: auto;
    text-align: center;

}

.header__subtitle {
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    width: 720px;
    height: 72px;
    text-align: center;
}

.header__image {
    width: 984px;
    height: 615px;
    -webkit-filter: grayscale(100%);
    -webkit-filter: grayscale(1);
    filter: grayscale(100%);
}

.intro {
    border: 1px solid red;
    width: 1017px;
    height: 516px;
    margin: 92px 148px;
}
.intro__title {
    color: #fff;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
}

.intro__quote {
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.42;
    width: 722px;
    height: 136px;
}

.intro__quote-author {
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.42;
    width: 720px;
    height: 34px;
    text-align: right;
    margin-top: -55px;
}

.intro__text {
    width: 720px;
    height: 182px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
}

.gallery {
    padding: 0 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 16px;
    justify-content: center;

}

.gallery__image {
    width: 284px;
    height: 213px;
}

.places {
    width: 987px;
    margin: auto;
    padding: 92px 148px;
}

.place {
    border: 1px solid pink;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px auto;
    gap: 48px 40px;

    
}

.place__title {
    color: #fff;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;

}

.place__image {
    width: 460px;
    height: 460px;
}

.place__link {
    width: 355px;
    text-decoration: none;
    color: #fff;
    background: #0278FE;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    padding: 13px 20px;
    text-align: center;
}
.place__author {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.place__author-title {
    border: 1px solid blue;
    color: #AAAAAA; 
    width: 58px;
    height: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.place__author-name {
    border: 1px solid red;
    width: 456px;
    height: 22px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
}

.place__description {
    border: 1px solid purple;
    color: #fff;
    width: 484px;
    height: 203px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
}

.cover {
    border: 1px solid white;
    width: 1184px;
    height: 740px;
    position: relative;
    margin: auto;
    display: flex;
}

.cover__image {
    width: 100%;
    opacity: 0.3;
}

.cover__content {
    width: 656px;
    height: 254px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

.cover__title {
    color: #fff;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    
}

.cover__text {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    width: 280px;
    height: 66px;
    
}

.cover__link {
    background: #0278FE;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #fff;
    text-decoration: none;
    padding: 13px 20px;
    width: 198px;
    height: 48px;
    text-align: center;
}

    