.cover__content {
    width: 656px;
    height: 254px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

@media screen and (max-width: 320px) {
    .cover__content {
        max-width: 288px;
        max-height: 163px;
        font-size: 32px;
        line-height: 1.09;
    }
}