.cover__content {
    width: 656px;
    height: 254px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}